body {
  font-family: var(--body_font);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--brilliance);
  /* background-color: var(--mango-100); */
  /* background-color: var(--mango-50); */
}
