/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--palm-200);
}

a:where(:hover, :focus) {
  color: var(--palm-300);
  text-decoration: none;
}

.link-subtle {
  text-decoration: none;
}

.link-subtle:where(:hover, :focus) {
  text-decoration: underline;
}

/*------------------------------------*/

.big-boy ul li a {
  padding: var(--kosciuszko);
  border-radius: var(--card-radius);
  transition: var(--fade);
}

.big-boy ul li a:hover {
  background-color: var(--palm-100);
  background-color: var(--kingly-cloud);
}
