/*------------------------------------*/
/* #LINKS */
/*------------------------------------*/

a {
  color: var(--palm-200);

  @media (prefers-color-scheme: dark) {
    color: var(--mango);
  }
}

a:where(:hover, :focus) {
  text-decoration: none;
  color: var(--palm-300);

  @media (prefers-color-scheme: dark) {
    color: var(--mango-200);
  }
}

a.active {
  background-color: var(--palm-50);

  @media (prefers-color-scheme: dark) {
    background-color: var(--mango-500);
  }
}

/*------------------------------------*/
/* #BUTTON */
/*------------------------------------*/

.button {
  text-decoration: none;
  background-color: var(--palm-50);
  margin-block-end: var(--kosciuszko);
  display: inline-block;
}

button:hover,
.button:hover {
  background-color: var(--palm-100);

  @media (prefers-color-scheme: dark) {
    background-color: var(--black-out);
  }
}

.big-boy ul li a,
button,
.button {
  padding: var(--kosciuszko);
  border-radius: var(--card-radius);
  transition: var(--fade);
}

.big-boy ul li a:hover {
  background-color: var(--palm-50);

  @media (prefers-color-scheme: dark) {
    background-color: var(--black-out);
  }
}

/*------------------------------------*/

.link-subtle {
  text-decoration: none;
}

.link-subtle:where(:hover, :focus) {
  text-decoration: underline;
}
