/*------------------------------------*/
/* #MEDIA */
/*------------------------------------*/

img {
  width: 100%;
  height: auto;
}

svg {
  fill: var(--black-metal); /* text */
  stroke: var(--black-metal); /* borders */

  @media (prefers-color-scheme: dark) {
    fill: var(--brilliance); /* text */
    stroke: var(--brilliance); /* borders */
  }
}

.poster {
  box-shadow: var(--penumbra);
  border: 1px solid var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    border-color: var(--black-out);
  }
}
