/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
}

h1,
.everest {
  font-size: var(--everest);
}

h2,
.aconcagua {
  font-size: var(--aconcagua);
}

h3,
.denali {
  font-size: var(--denali);
}

h4,
.kilimanjaro,
.kilimanjaro-p p {
  font-size: var(--kilimanjaro);
}

h5,
.elbrus {
  font-size: var(--elbrus);
}

h6,
p,
.vinson {
  font-size: var(--vinson);
}

small,
.kosciuszko {
  font-size: var(--kosciuszko);
}

address {
  font-style: normal;
}

.font-hand {
  font-family: "pacifico", cursive;
}

/*------------------------------------*/

.pre-wrap {
  white-space: pre-wrap;
}

.text-center {
  text-align: center;
}
