---
import fetchApi from "../lib/strapi";
import type TextTypes from "../interfaces/text-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Layout from "../layouts/Layout.astro";

const departure = await fetchApi<TextTypes>({
  endpoint: "departure",
  wrappedByKey: "data",
  populate: {
    text: {
      populate: true,
    },
  },
});
---

<Layout title="Departure">
  <main>
    <h2 class="font-hand">Departure</h2>
    <BlocksRenderer content={departure.attributes.text} />
  </main>
</Layout>
