---
import fetchApi from "../lib/strapi";
import type TextTypes from "../interfaces/text-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Layout from "../layouts/Layout.astro";

const departure = await fetchApi<TextTypes>({
  endpoint: "departure",
  wrappedByKey: "data",
  populate: {
    text: {
      populate: true,
    },
  },
});

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).slice(0, -1); // remove the first and last "/"
---

<script>
  const pathname = new URL(Astro.request.url).pathname;
  const currentPath = pathname.slice(1).slice(0, -1); // remove the first and last "/"
  console.log(currentPath);
</script>

<Layout title="Departure">
  <main class={currentPath === "departure" ? "active" : null}>
    <h2 class="font-hand">Departure</h2>
    <BlocksRenderer content={departure.attributes.text} />
  </main>
</Layout>
<p>The current URL is: {Astro.url.pathname}</p> this works so theres something to
it /departure/
