---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rental Rates for Hale Pau Hana #28">
  <main>
    A Beachfront Maui Vacation Rental   
at
Hale Pau Hana Resort
2480 South Kihei Rd. #28,
Kihei, Maui, Hawaii 

Hale Pau Hana Unit 28

A Private Condo

Directions from the Kahului Airport to  Hale Pau Hana

            Pick up a Maui driving map at information booth in the baggage pick up area at the airport.

            After you pick up your rental car head for Kihei.

            You might want to stop at Costco which is the first light about a mile from the airport.

            Continue on Dairy Road to Hwy 350 and turn left at the 6th stop light. (Big church on left at the corner.)

            Follow Hwy 350 to Kihei (Mokulele Hwy) 350 changes to Hwy 311, but you will not notice.

            The Mokulele Hwy changes to the Piilani Hwy (Highway 30) without you noticing it.

            And turn right  onto Ke ali'i Alanui.

            At the bottom of the hill turn left (south) on to South Kihei Rd

            Turn right into the 3rd condo complex driveway and bear left and go all the way to the south end of the parking lot.

            Park as far to the end as possible and take the end stairs to the 2nd floor.

            First door on your left is home.

            Open the lock box and use key to open door and then replace key incase of a lock out situation.

            Two keys will be inside on the left hanging on the mermaid which you will replace upon departure.

            You will be given the combination after your final payment has been received via email.

            Call  to get the door combo cell 530-559-2261 or 530-613-1155

            Check in time is 3 p.m.

             

        Departure information:

        1. Leave your two keys on the mermaids for the next guest.
        2. Be sure you have returned key to lock box when you first checked it..
        3. Please empty garbage  and start dish washer before you leave.
        4. Check out time is 11 a.m.

        General Information

        1. Please wash any sand or grass off your feet and/or beach toys and chairs before entering the unit
        2. Please do not sit on living room furniture with damp bathing suites.
        3. Mid day airport departures are crowded with several flights processing passengers at the same time.
        4. Evening flights are relatively fast and easy.
        5. Drop off your partner with  the luggage while you take your rental car back.
        6. If you are flying back to the mainland, you must have a bug inspection for your checked baggage before you go to the airline check in counter. They will x-ray for fruit in your bags and put an OK  sticker on the handle.
        7. Don't get to the front of the airline check in line and find out that you have to go back and get your buggy fruit inspection.
        8. You may take back Maui onions (even from the grocery store) and some of the tropical plants if they have been packaged commercially. 
  </main>
</Layout>

<style>

</style>
