---
import Layout from '../layouts/Layout.astro';
import qs from "qs";
import { BlocksRenderer } from '@strapi/blocks-react-renderer';

const directionUrl = `${import.meta.env.STRAPI_URL}api/direction`;
const directionQuery = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
  },
});

const direction = await fetch(`${directionUrl}?${directionQuery}`).then((response) =>
  response.json()
);

---

<Layout title="Directions">
  <main>
    <h2 class="font-hand">Directions</h2>
    <h3 class="">Kahului Airport to  Hale Pau Hana</h3>
    <BlocksRenderer content={direction.data.attributes.text} />
  </main>
</Layout>