---
import Layout from '../layouts/Layout.astro';
import qs from "qs";

const directionUrl = `${import.meta.env.STRAPI_URL}api/direction`;
const directionQuery = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
  },
});

const direction = await fetch(`${directionUrl}?${directionQuery}`).then((response) =>
  response.json()
);

interface ActivityTypes {
  children: {
    text: string;
  }[];
}

---

<Layout title="Directions">
  <main>

<h1>Directions</h1>
    <h2>Kahului Airport to  Hale Pau Hana</h2>
    <ul>
    {direction.data.attributes.text[0].children.map((child: ActivityTypes) => 
      child.children.map((child) => (
        <li>
        {child.text}
      </li>
      ))
    )}
    </ul>
</main>
</Layout>