---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/layout.astro";
import type TextTypes from "../interfaces/text-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const direction = await fetchApi<TextTypes>({
  endpoint: "direction",
  wrappedByKey: "data",
  /* populate: {
    text: {
      populate: true,
    },
  }, */
});
---

<Layout title="Directions">
  <main>
    <h2 class="font-hand">Directions</h2>
    <h3 class="">Kahului Airport to Hale Pau Hana</h3>
    <BlocksRenderer content={direction.text} />
  </main>
</Layout>
