---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rental Rates for Hale Pau Hana #28">
  <main>
    A Beachfront Maui Vacation Rental   
    at
    Hale Pau Hana Resort
      2480 South Kihei Rd. #28,
    Kihei, Maui, Hawaii 96753
    
    last updated: November 24, 2013
    
      Amenities of unit 28
    
        Complete remodel June of 2013
    
        Unit 28 is an end unit with a bonus side window with down the beach view.
    
        As close to the water as you can get at Hale Pau Hana.
    
        Unobstructed view of the ocean.
    
        Master bedroom has TV-VCR-DVD, air conditioner, ceiling fan and queen bed
    
        Living Room has 50" HD Big Screen TV with HD cable.
    
        Also HD DVD player and ceiling fan in living room
    
        Free High Speed  internet cable and Wi-Fi modem for your use.
    
        Murphy Bed in Living room over looking ocean
    
        2nd floor view and privacy
    
        Sleep on Murphy Bed in living room with lanai windows open
    
        Washers and dryers on premises
    
        Across the street from shops and several restaurants
    
        Private lanai with table for outside dining
    
        Double sliding lanai doors open up living room to the ocean
    
        Roll down drapes to give maximum ocean view when open.
    
        Tiled 200 square foot Lanai
    
        Unit is  585 square feet  (16.25' x 36')
    
        Free bedroom safe
    
        Heated swimming pool
    
        Beach towels, beach chairs, beach toys included.
    
        Beachside gas BBQs while you help the sun go down.
    
        A non-smoking unit.
  </main>
</Layout>

<style>

</style>
