---
import Layout from "../layouts/Layout.astro";
import qs from "qs";
// import Markdown from "react-markdown";

// is this problematic that you aree going directly to the api reference what if you need a whole bunch
const url = `${import.meta.env.STRAPI_URL}api/activity`;

const query = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
  },
});

const activity = await fetch(`${url}?${query}`).then((response) =>
  response.json()
);

interface ActivityTypes {
  children: {
    text: string;
  }[];
}

---
<Layout title="Welcome to.">
  <main>
  <h1>Welcome to Astro</h1>
  <ul>
  {activity.data.attributes.text[0].children.map((child: ActivityTypes) => 
    child.children.map((child) => (
      <li>
      {child.text}
    </li>
    ))
  )}
  </ul>
  </main>
</Layout>