---
import fetchApi from "../lib/strapi";
import type AmenitieTypes from "../interfaces/amenitie-types";

import Layout from "../layouts/Layout.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const amenitie = await fetchApi<AmenitieTypes>({
  endpoint: "amenitie", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});
---

<Layout title="query">
  <main>
    <BlocksRenderer content={amenitie.attributes.text} />
  </main>
</Layout>
