---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import type { BlocksContent } from "@strapi/blocks-react-renderer";
// import type Amenitie from "../interfaces/amenitie";

interface AmenitieTypes {
  id: number;
  attributes: {
    createdAt: string;
    text: BlocksContent;
  };
}
[];

// https://www.typescriptlang.org/docs/handbook/2/generics.html
const amenitie = await fetchApi<AmenitieTypes>({
  endpoint: "amenitie", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});

// console.log(amenitie);
console.log(amenitie.id);
console.log(amenitie.attributes.text);
---

<Layout title="query">
  <main>
    <BlocksRenderer content={amenitie.attributes.text} />
  </main>
</Layout>
