---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rental Rates for Hale Pau Hana #28">
  <main>
    

Rental Rates for Hale Pau Hana #28 

Our unit is on the second floor, end unit with side window.

Rates from the Owners for Hale Pau Hana #28

On the Beach- Maui Vacation Rental   
at
Unit 28 at Hale Pau Hana
2480 South Kihei Rd., Kihei, Maui, Hawaii 

For information or to reserve dates:  leswright@sbcglobal.net
cell: (530) 559-2261

Our rates and availability are listed on http://www.VRBO.com/248316

You may save the booking fee by calling and booking direct with us at 530-559-2261 or email

There is a $100 one time check out maid fee  for stays of less than one week
otherwise check out cleaning is included.

Children under 5 stay free

Hawaii Hotel & excise Tax is 13.42% additional 
Hawaii Tax ID: W29349265-1

Check in time is 3 pm

Check out time is 11 am

If you want to reserve a date or have comments or questions, please email or call

Les &  Karin Wright
PO Box 20000
South Lake Tahoe, Ca 96151
530-559-2261

Hawaii Tax ID: W29349265-1
  </main>
</Layout>

<style>

</style>
