---
import Layout from "../layouts/Layout.astro";
import qs from "qs";

const activityUrl = `${import.meta.env.STRAPI_URL}api/activity`;
const activityQuery = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
  },
});

const activity = await fetch(`${activityUrl}?${activityQuery}`).then(
  (response) => response.json()
);

interface ActivityTypes {
  children: {
    text: string;
  }[];
}
---

<Layout title="Rental Rates for Hale Pau Hana #28">
  <main>
    <h2 class="font-hand">Things to see and do</h2>
    <ul>
      {
        activity.data.attributes.text[0].children.map((child: ActivityTypes) =>
          child.children.map((child) => <li>{child.text}</li>)
        )
      }
    </ul>
  </main>
</Layout>

<style></style>
